{% extends "tube/index.html"%}
{% block content%}
<p>{{ msg }}</p>
<form method="post">
	{% csrf_token%}
                <div class="note">
                    <p>Login FORM</p>
                </div>

                <div class="form-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="User Name *" value="" name="username"/>
                            </div>
                            
                              <div class="form-group">
                                <input type="password" class="form-control" placeholder="Your Password *" value="" name="password"/>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="form-control" value="Login"/>
                            </div>
                        </div>

                        
                    </div>
                </div>
</form>
{% endblock %}